@keyframes scroll-offscreen {
    0% {
        transform: translateX(100vw);
        /* Start from right side of viewport */
    }

    100% {
        transform: translateX(-100%);
        /* Move left by its own width */
    }
}

.animate-scroll-alt {
    position: absolute;
    white-space: nowrap;
    /* Prevent text wrapping */
    animation: scroll-offscreen 60s linear infinite;
}
