@font-face {
    font-family: 'LDFComicSans';
    src: url('./assets/fonts/Ldfcomicsans-jj7l.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LDFComicSans';
    src: url('./assets/fonts/Ldfcomicsansbold-zgma.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LDFComicSans';
    src: url('./assets/fonts/Ldfcomicsanshairline-5PmL.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'LDFComicSans';
    src: url('./assets/fonts/Ldfcomicsanslight-6dZo.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
