@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "metropolis";
    src: url("../assets/fonts/metropolis.light.otf");
}

/* Music anims */
.animate-scroll {
    display: inline-block;
    padding-right: 2rem;
    /* Space after text before it repeats */
    animation: scroll 20s linear infinite;
}

.scrolling-text {
    display: inline-flex;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll:hover {
    animation-play-state: paused;
}

/* Follow anims */
.follow-container {
  transform-origin: center bottom;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.follow-enter {
  transform: scaleY(0.1) translateY(100px);
  opacity: 0;
}

.follow-active {
  transform: scaleY(1) translateY(0);
  opacity: 1;
}

.follow-exit {
  transform: scaleY(0) translateY(100px);
  opacity: 0;
}